# ===================================================================
# artellapipe-tools-snowgenerator requirements file
# ===================================================================
solstice