# ===================================================================
# artellapipe-tools-snowgenerator requirements file
# ===================================================================

artellapipe-core